@mixin container {
	height: 100dvh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

@mixin flex {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@mixin main {
	.main {
		@include flex;
		margin-top: 1rem;
		justify-content: space-evenly;
		align-items: center;
	}

	.main h2 {
		margin-bottom: 1rem;
		font-size: 2rem;
		line-height: 1.2;
	}

	.main p {
		max-width: 40rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
		text-align: justify;
	}
	.main img {
		max-height: calc(100dvh - 35rem);
	}
}

@mixin on768 {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin main768 {
	.main {
		margin: 2rem 4rem;
		flex-direction: row;
		gap: 4rem;
	}

	.main h2 {
		margin-bottom: 4rem;
		font-size: 4rem;
		line-height: 1.2;
	}

	.main img {
		max-width: 415px;
		max-height: 415px;
	}
}
