@import "../styles/mixin.scss";

.container {
	@include container;
	background-color: var(--color-dark--1);
}

.form {
	@include flex;
	margin: 0 4rem;
	border-radius: 8px;
	justify-content: center;
	gap: 3rem;
}

.form label {
	display: flex;
	flex-direction: column;
}

@include on768 {
	.form {
		align-items: center;
	}

	.form label {
		min-width: 65.5rem;
	}
}
