.container {
	height: 100dvh;
	padding: 2rem;

	display: flex;
	flex-direction: column;

	background-color: var(--color-dark--1);
}

.form {
	margin: 0 4rem;
	border-radius: 8px;

	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.form label {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.form {
		align-items: center;
	}

	.form label {
		min-width: 65.5rem;
	}
}
