.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.header nav {
	min-width: 30rem;
}

.header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.header a:link,
.header a:visited {
	color: var(--color-light--2);
	font-size: 1.5rem;
	font-weight: 600;
}

.header a:global(.active) {
	color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
	background-color: var(--color-brand--2);
	color: var(--color-dark--0);
	padding: 0.5rem 1.5rem;
	border-radius: 7px;
}

@media (min-width: 768px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}
