.form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0 4rem;
	border-radius: 8px;
	justify-content: center;
	gap: 2rem;
}

.form label {
	display: flex;
	flex-direction: column;
}

.form button {
	color: #000;
	margin-top: 2rem;
}

.form button a{
	color: #000;
}

@media (min-width: 768px) {
	.form {
		align-items: center;
	}

	.form label {
		min-width: 65.5rem;
	}
}